body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgba(0,0,10,0.6),rgba(0,0,10,0.6)),url(image/bg.jpg);
    background-size: cover;
	background-repeat:no-repeat;
    font-family: sans-serif;
	color: white;
	
}